body {
    background: #0f0f23;
    color: #686868;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

pre, code {
    font-family: "Source Code Pro", monospace;
}

em {
    color: #ffffff;
    font-style: normal;
    text-shadow: 0 0 5px #ff0000;
}

code::before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0px;
    border: 1px solid #333340;
    background: #10101a;
}